.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* .form{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
} */

input {
    width: 200px;
    border-radius: 10px;
    border: 2px solid rgba(34, 34, 34, 0.5);
    padding: 5px;
}

label {
    display: flex;
    flex-direction: column;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid rgba(34, 34, 34, 0.5);
    margin-bottom: 30px;
    transition: all 250ms linear;
}

.btn:hover,
.btn:focus {
    background-color: rgb(34, 34, 34);
    border: 2px solid rgba(58, 28, 0, 0.1);
    color: rgba(255, 255, 255, 0.7);

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}